<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.feigncustomer10001.mapper.TbUserMapper">

    <select id="findAll" resultType="com.example.feigncustomer10001.bean.TbUser">
        select
            id, username, password, perms
        from
            tb_user
    </select>


</mapper>